* {
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    justify-content: center;
    align-items: center;
}



/* 1 Table with styles you want to add */
.table_container{
    margin-top: 20px;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #000;
    padding: 0.5rem;
    text-align: left;
  }



/* horizontal seprator */
hr{
    color: #dbdbdb;
}



/* search bar */
.search_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 30px;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 100px;
    margin: 0 0 30px;
}


input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }

input[type="search"]::placeholder {
    color: #bbb;
    font-size: 20px;
}



input[type="search"]:hover{
    border-color: black;

}

input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }



form.search_form {
    border: none;
    padding: 0;
    position: relative;
}

/* search icon */
input.search {
    border: 1px solid #555;
    width: 100%;
    padding: 20px 4px 20px 30px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px;
}

/* mic icon */
.microphone-ico {
    position: absolute;
    right: 20px;
    top: 20px;
}

/* list */
.list_container{
    margin:20px 0 20px;
}


/* dropdown list */
.dropdown{
    padding: 8px 12px;
    color:black;
    background-color: #eeeeee;
    border:1px solid #dddddd;
    cursor:pointer;
    border-radius:5px;
    width: 300px;
}


.dropdown:focus,
.dropdown:hover{
    outline:none;
    border:1px solid #3d3d3d;
}
